<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>WELCOME TO MY SHOPPING!!</h1>
    <a href="/sessionAPI/addItem">Add Item</a><br />
    <a href="/sessionAPI/displayItems">Display Cart</a>
    <br />
    <b>Session Expiry Age : {{request.session.get_expiry_age}}</b><br />
    <b>Session Expiry Date: {{request.session.get_expiry_date}}</b>
  </body>
</html>
