<!DOCTYPE html>
{% extends 'classbasedview/base.html' %} {%block body_block%}

<a href="/classbasedview">Home</a>
<h1>Student Details:</h1>
<ol>
  <ul>
    <h3><li>First Name:{{studen.firstName}}</li></h3>
    <h3><li>Last Name:{{studen.lastName}}</li></h3>
    <h3><li>Test Score:{{studen.testscore}}</li></h3>
    <h3>
      <li>
        <a href="/classbasedview/delete/{{studen.id}}">delete</a>
      </li>
    </h3>
    <h3>
      <li><a href="/classbasedview/update/{{studen.id}}">update</a></li>
    </h3>
  </ul>
</ol>
<br />
{%endblock%}
