<!DOCTYPE html>
{% extends 'classbasedview/base.html' %} {%block body_block%}
<br />
{%load custFilters%}
<br />
<h1>Students</h1>
<table border="1">
  <thead>
    <th>Id</th>
    <th>first Name</th>
    <th>last Name</th>
    <th>Test Score</th>
  </thead>
  {% for student in studen_list %}
  <tr>
    <td><a href="/classbasedview/{{student.id}}">{{student.id}}</a></td>

    <td>{{student.firstName | myAppend:"Mr." }}</td>
    <td>{{student.lastName | myLower }}</td>
    <td>{{student.testscore | add:"2"}}</td>
    <!-- <td><a href="/CrudFunc/deleteStudent/{{student.id}}">delete</a></td>
        <td><a href="/CrudFunc/updateStudent/{{student.id}}">update</a></td> -->
  </tr>
  {% endfor %}
</table>
<a href="/classbasedview/create/">addStudent</a>
{%endblock%}
